li {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    color: black;
}

.bold {
    font-weight: bold;
    font-style: normal;
    color: maroon;
}
.underline {
    text-decoration: underline;
}
.paragraph {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}